.botao-deletar {
  margin-top: 45px;
  text-align: end;
  margin-right: 10px;
}

.botao-deletar button {
  color: black;
  background-color: rgb(172, 172, 172);
  padding: 15px;
  border-radius: 30%;
  border: none;
  cursor: pointer;
}

.botao-deletar button:hover {
  background-color: gray;
  transition: 0.5s;
}

